<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <!-- (@user)になっているのはcurrent_user(ログインしているid)を代入しているため(@user.id)にしなくてよい -->
  <% end %>
</div>

<!--部分テンプレート_listを呼ぶ出す-->
<%= render 'post_images/list', post_images: @post_images %>